@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.nav {
  background: #111111;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

.nav-container {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu, .nav-social {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.nav-menu a {
  position: relative;
  color: #FFFFFF;
  transition: .3s all;
  padding: 10px;
}

.nav-menu a:hover, .nav-social:hover {
  color: #CCCCCC;
}

.nav-social img {
  transition: .3s all;
}

.nav-social a img:hover {
  transform: scale(1.05);
}

.nav-menu a::after {
  content: '';
  display: block;
  height: 2px;
  width: 0px;
  margin-top: 2px;
  transition: .3s;
  background: #CCCCCC;
  position: absolute;
}

.nav-menu a:hover:after, .ativo::after {
  width: 100%;
}

@media (max-width: 800px) {
  .nav-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .nav-social {
    display: none;
  }
}

.intro {
  background: #DEDEDE;
  position: relative;
}

.intro-container {
  max-width: 1200px;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 40px 20px;
  align-items: center;
  justify-items: center;
}

@media (max-width: 800px) {
  .intro-container {
    padding: 0px;
  }
}

.intro-apresentacao p {
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  line-height: 1.25em;
  font-weight: 600;
}

.intro-apresentacao h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5em;
  font-weight: bold;
}

.intro-apresentacao span {
  font-family: "Roboto", arial;
  font-size: 1.125em;
  line-height: 1.33333em;
  font-style: italic;
}

.intro-apresentacao h1::after {
  content: '|';
  margin-left: 5px;
  opacity: 1;
  animation: piscando .7s infinite;
}

.intro-ilustracao img {
  display: block;
  padding-top: 30px;
}

@media (max-width: 800px) {
  .intro-ilustracao img {
    display: none;
  }
}

.sobre {
  max-width: 1200px;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.sobre h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5em;
  color: #2E2E2E;
}

.sobre-descricao {
  display: flex;
  background: #2E2E2E;
  align-items: center;
  max-width: 80%;
  height: 300px;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 40px;
}

.sobre-descricao p {
  font-family: "Roboto", arial;
  font-size: 1.125em;
  line-height: 1.33333em;
  max-width: 60ch;
  color: #ffffff;
  padding: 20px;
  margin: 0 auto;
}

@media (max-width: 980px) {
  .sobre-descricao {
    flex-direction: column;
    height: 600px;
    box-shadow: inset 0 90px #FFFFFF;
    margin-top: 0px;
  }
}

.conhecimentos {
  background: #EDEDED;
  margin-top: 60px;
}

.conhecimentos-container {
  max-width: 1000px;
  height: 450px;
  margin: 0 auto;
}

.conhecimentos-container h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5em;
  color: #111111;
  text-align: center;
  padding: 60px 0;
}

@media (max-width: 800px) {
  .conhecimentos-container {
    height: 500px;
  }
}

@media (max-width: 560px) {
  .conhecimentos-container {
    height: 550px;
  }
}

.conhecimentos-flex {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
}

@media (max-width: 800px) {
  .conhecimentos-flex {
    flex-direction: column;
    align-items: center;
  }
}

.conhecimentos-linguagens {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  cursor: pointer;
  transition: .3s;
  max-width: 300px;
  justify-content: center;
}

@media (max-width: 800px) {
  .conhecimentos-linguagens {
    max-width: 600px;
    padding-bottom: 30px;
  }
}

@media (max-width: 560px) {
  .conhecimentos-linguagens {
    max-width: 300px;
  }
}

.conhecimentos-linguagens img:hover {
  transform: scale(1.05);
}

.conhecimentos-descricao {
  color: #2E2E2E;
  text-align: left;
}

.conhecimentos-descricao h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  line-height: 1.25em;
  padding-bottom: 15px;
}

.conhecimentos-descricao p {
  font-family: "Roboto", arial;
  font-size: 1.125em;
  line-height: 1.33333em;
  max-width: 40ch;
}

@media (max-width: 800px) {
  .conhecimentos-descricao {
    padding-left: 0px;
  }
}

.conhecimentos-descricao h2::before {
  content: '';
  display: inline-block;
  height: 8px;
  width: 12px;
  background: #2E2E2E;
  margin-right: 8px;
  align-items: center;
}

.projetos {
  background: #2E2E2E;
  color: #CCCCCC;
}

.projetos-container {
  display: grid;
  max-width: 1200px;
  max-height: 100%;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  align-items: center;
  justify-items: center;
}

.projetos-container h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  grid-column: 1/-1;
  padding-bottom: 60px;
  padding-top: 30px;
}

.projeto {
  padding: 0 40px;
  overflow-x: auto;
}

.projeto .projeto-img {
  padding-bottom: 20px;
}

.projeto p {
  font-family: "Roboto", arial;
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-bottom: 20px;
}

.icon-linguagem {
  display: inline-block;
  padding-bottom: 60px;
}

@media (max-width: 800px) {
  .projetos-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .icon-linguagem img:nth-last-child(-n + 2) {
    padding-bottom: 60px;
  }
}

@media (max-width: 600px) {
  .projetos-container {
    grid-template-columns: 1fr;
  }
  .projeto {
    text-align: center;
  }
  .projeto:nth-last-child(-n + 3) {
    display: none;
  }
  .projeto-img {
    margin: 0 auto;
  }
}

.footer {
  background: #000000;
}

.footer-container {
  max-width: 1200px;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #CCCCCC;
}

.footer-conteudo h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5em;
  font-weight: 500;
}

.footer-conteudo p {
  font-family: "Roboto", arial;
  font-size: 1.125em;
  line-height: 1.33333em;
}

.footer-contato {
  display: flex;
  gap: 30px;
}

.footer-contato a {
  cursor: pointer;
}

.footer-contato a img {
  transition: .3s all;
}

.footer-contato :hover {
  transform: scale(1.05);
}

@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
}

.js .fadeInDown {
  transform: translate3d(0, -20px, 0);
}

.js .fadeInUp {
  transform: translate3d(0, 20px, 0);
}

.js .fadeInRight {
  transform: translate3d(20px, 0, 0);
}

.js .fadeInLeft {
  transform: translate3d(-20px, 0, 0);
}

.js [data-anime] {
  opacity: 0;
}

.js .anime {
  opacity: 1;
  transform: none;
  transition: transform 0.8s, opacity 0.8s;
}

@keyframes animacaoIlustracao {
  from {
    top: -15px;
  }
  to {
    top: 25px;
  }
}

@keyframes piscando {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.to-top {
  position: fixed;
  padding: 5px;
  border-radius: 50%;
  background: #CCCCCC;
  right: 32px;
  bottom: 16px;
  box-shadow: #000000 0px 0px 0px 1px, #CCCCCC 0px 0px 0px 3px;
  animation: .3s all;
  pointer-events: none;
  opacity: 0;
}

.to-top.active {
  opacity: 1;
  pointer-events: auto;
}
