header {
    display: flex;
    justify-content: space-between;
    background: $p7;
    height: 50px;
    align-items: center;
    padding: 30px;
    @include tipo-1(16);
    ul {
        display: flex;
    }
    li {
        padding: 10px;
        a {
            color: $c1;
        }
    }
}