.nav {
    background: $preto-c11;
    font-family: $fonte-1;
    font-weight: normal;
}

.nav-container {
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu, .nav-social {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.nav-menu a {
    position: relative;
    color: $branco;
    transition: .3s all;
    padding: 10px;
}

.nav-menu a:hover, .nav-social:hover {
    color: $c4;
}

.nav-social img {
    transition: .3s all;
}

.nav-social a img:hover {
    transform: scale(1.05);
}

.nav-menu a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0px;
    margin-top: 2px;
    transition: .3s;
    background: $c4;
    position: absolute;
}

.nav-menu a:hover:after, .ativo::after {
    width: 100%;
}

@media (max-width: 800px) {
    .nav-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .nav-social {
        display: none;
    }
}