.intro {
    background: $c3;
    display: flex;
    justify-content: center;
    align-items: center;
    .apresentacao {
        font-family: $fonte-1;
        padding: 5px;
        color: $preto;
        float: left;
        p {
            @include tipo-1(18);
            font-weight: 600;
        }
        h1 {
            @include tipo-1(40);
            font-weight: bold;
        }
        .mensagem {
            font-style: italic;
            font-weight: 400;
        }
    }
    .ilustracao {
        padding: 10px;
    }
}