.projetos {
    background: $preto-c10;
    color: $c4;
}

.projetos-container {
    display: grid;
    max-width: 1200px;
    max-height: 100%;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    align-items: start;  
    justify-items: center;
    h1 {
        @include tipo-1(40);
        font-weight: bold;
        grid-column: 1/-1;
        padding-bottom: 60px;
        padding-top: 30px;
    }
}

.projeto {
    padding: 0 40px;
    overflow-x: auto;
    .projeto-img {
        padding-bottom: 20px;
    } 
    h2 {
        @include tipo-1(18);
        display: flex;
        align-items: center;
    }
    p {
        @include tipo-2(18);
        padding-bottom: 20px;
    }
}

.projeto h2::before {
    content: '';
    display: inline-block;
    height: 8px;
    width: 12px;
    margin-right: 8px;
    background: $c4;
    transition: width .2s;
}

.projeto img:hover h2::before {
    width: 24px;
}

.projetos-icons li {
    display: inline-block;
    padding-bottom: 60px;
}


@media (max-width: 800px) {
    .projetos-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .icon-linguagem img:nth-last-child(-n + 2) {
        padding-bottom: 60px;
    }
}

@media (max-width: 600px) {
    .projetos-container {
        grid-template-columns: 1fr;
        
    }

    .projeto {
        text-align: center;
    }

    .projeto:nth-last-child(-n + 3) {
        display: none;
    }

    .projeto-img {
        margin: 0 auto;
    }
}