.sobre {
    max-width: 1200px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 40px;
    margin: 0 auto;
    h1 {
        @include tipo-1(40);
        color: $preto-c11;
    }
}

.sobre-descricao {
    background: $p7;
    align-items: center;
    max-width: 60%;
    height: 200px;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 40px;
    p {
        @include tipo-2(18);
        max-width: 45ch;
        color: #ffffff;
        padding: 20px;
        margin: 0 auto;
    }
}