.sobre {
    max-width: 1200px;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 40px;
    margin: 0 auto;
    h1 {
        @include tipo-1(40);
        color: $preto-c10;
    }
}

.sobre-descricao {
    display: flex;
    background: $preto-c10;
    align-items: center;
    max-width: 80%;
    height: 300px;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 40px;
    p {
        @include tipo-2(18);
        max-width: 60ch;
        color: #ffffff;
        padding: 20px;
        margin: 0 auto;
    }
    @media (max-width: 980px) {
        flex-direction: column;
        height: 600px;
        box-shadow: inset 0 90px $branco;
        margin-top: 0px;
    }
}

// .sobre-ilustracao:hover {
//     position: relative;
//     animation: animacaoIlustracao 2s infinite alternate-reverse linear;
// }